/* Detta är för att ta bort min scrollbar */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
body, html {
	width: 100vw;
	height: 100vh;
}
/* för att inte alla a element skall ha den fula dekorationen så måste vi ta bort den */
a {
	color: inherit;
	text-decoration: none;
	
	background-color: #6a6a6a;
	padding: 1rem;
	color: white;
	font-weight: 900;
	opacity: 50%;
}

/* För navigations fältet */
nav {
	position: fixed;
	display: grid;
	width: 100vw;
	/* För att få till en text i mitten men samtidigt ha andra element så kan vi dala upp arean med ett grid*/
	grid-template-areas: "menu text .";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	background-color: #ccc;
	color: white;
}
nav img {
	grid-area: menu;
	height: 2rem;
	margin: 0.7rem;
}
nav span {
	grid-area: text;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/* För vår main */
main {
	height: 100%;
	overflow: auto;
}
main > section {
	width: 100%; /* Detta så att vi inte behöver skriva in hela tiden att den skall fylla hela bredden */
}

/* Vår main sektion */
#main_section {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	display: grid !important;
	grid-template-columns: 100%;
	grid-template-rows: 80px auto 80px;
	grid-template-areas:
	"."
	"book"
	"arrow";
}
#book_div {
	text-align: center;
	grid-area: book;
}
#arrow_div {
	text-align: center;
	grid-area: arrow;
}
/* För vår pil som ska skrolla ner på sidan */
#scroll_arrow {
	height: 10px;
	width: 10px;
	border: solid #c9c9c9;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background-color: transparent !important;
}

/* För vår meny sektion */
#menu_section {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#menu_section .container {
	display: inline-flex;
	justify-content: center;
	width: 80%;
	margin-top: 8rem;
	margin-bottom: 8rem;
}
#menu_section .container > span {
	width: 15%;
	padding: 15%;
	box-sizing: border-box;
	position: relative;
}
#menu_section .container > span > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#menu_span {
	margin-right: 5%;
	background-color: #eee;
}
#wines_span {
	margin-left: 5%;
	background-color: #eee;
}
