/* Detta är för att ta bort min scrollbar */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
body, html {
	width: 100vw;
	height: 100vh;
}
/* för att inte alla a element skall ha den fula dekorationen så måste vi ta bort den */
a {
	color: inherit;
	text-decoration: none;
	
	background-color: #ffffff;
	padding: 1rem;
	color: black;
	font-weight: 900;
	opacity: 96%;
}

/* För navigations fältet */
nav {
	position: fixed;
	display: grid;
	width: 100vw;
	/* För att få till en text i mitten men samtidigt ha andra element så kan vi dala upp arean med ett grid*/
	grid-template-areas: "menu text .";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	background-color: #262525cc;
	color: white;
	z-index: 1;
}
nav img {
	grid-area: menu;
	height: 2rem;
	margin: 0.7rem;
}
nav span {
	grid-area: text;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/* För att skuggan av titeln inte skall åka ner över sidans innehåll så använder jag overflow hidden */
	overflow: hidden;
	width: 50vw;
}
nav span > * {
	text-transform: uppercase;
	background-color: #ffffff30;
	padding: 0.8rem;
	box-shadow: 0px 0px 84px 164px #ffffff30;
	overflow: hidden;
}
/* För vår main */
main {
	height: 100%;
	overflow: auto;
}
main > section {
	width: 100%; /* Detta så att vi inte behöver skriva in hela tiden att den skall fylla hela bredden */
}

/* Vår main sektion */
#main_section {
	height: 100%;

	justify-content: center;
	align-items: center;
	
	display: grid !important;
	grid-template-columns: 100%;
	grid-template-rows: 80px auto 80px;
	grid-template-areas:
	"."
	"book"
	"arrow";
	background: url(../img/book.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#main_section.menu, #main_section.book{
	display: flex !important;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}
/* meny lista */
#menu_list {
	text-align: center;
	padding: 3rem;
	list-style-type: none;
	background-color: #000000cc;
	width: 80vw;
}
#menu_list li {
	margin: 1rem;
}
#menu_list li > * {
	color: white;
}
/* Bokningsformulär */
#book_span {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	background-color: #000000aa;
	padding: 3rem;
}
#book_form {
	padding: 1rem;
	border-radius: 0.3rem;
	background-color: #000000aa;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
#book_form * {
	display: block;
	border-radius: 0.3rem;
}
#book_form span {
	display: grid;
	grid-template-areas: "date time";
	grid-template-rows: auto;
	grid-template-columns: 3fr 1fr;
	min-width: 100%;
	margin-bottom: 2rem;
}
#book_form label {
	color: white;
	margin-bottom: 0.5rem;
}
#book_form input[type="text"] {
	margin-bottom: 2rem;
	min-width: 100%;
}
#book_form textarea {
	width: 100%;
	resize: vertical;
	margin-bottom: 1rem;
}
#book_form input[type="submit"] {
	width: 100%;
	padding: 0.3rem;
	font-weight: 900;
}

/* index.html saker */
#book_div {
	text-align: center;
	grid-area: book;
}
#book_div a {
	background-color: #ffffffee;
}
#arrow_div {
	text-align: center;
	grid-area: arrow;
}
/* För vår pil som ska skrolla ner på sidan */ #scroll_arrow {
	height: 10px;
	width: 10px;
	border: solid #c9c9c9;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background-color: transparent !important;
}

/* För vår meny sektion */
#menu_section {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
#menu_section .container {
	display: inline-flex;
	justify-content: center;
	width: 80%;
	margin-top: 8rem;
	margin-bottom: 8rem;
}
#menu_section .container > span {
	width: 15%;
	padding: 15%;
	box-sizing: border-box;
	position: relative;
}
#menu_section .container > span > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#menu_span {
	margin-right: 5%;
	background: url(../img/menu.jpg);
	background-size: auto 100%;
	
}
#wines_span {
	margin-left: 5%;
	background: url(../img/wine.jpg);
}

/* För info sektionen */
#info_section {
	display: flex;
	justify-content: center;
	align-items: center;
}
#info_section * {
	text-align: center;
}
#info_section ul {
	list-style-type: none; /* detta är för att ta bort prickarna som blir */
	width: 100%;
	height: auto;
}
#info_section ul > li {
	width: 100%;
	padding: 0.8rem;
	padding-left: 0;
	padding-right: 0;
}
/* ta bort tidigare inställningar på vår <a> tagg */
#info_section a { 
	color: black !important;
	background: transparent !important;
	opacity: 100% !important;
}
/* Jag vill ändra enbart på info sektionen i meny htmlen */
#info_section.menu {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
/* speciella inställningar för mail och telefon raden */
#mail_li {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
	grid-template-areas: "mail dot phone";
}
#mail_a {
	grid-area: mail;
	text-align: right;
}
#dot_a {
	grid-area: dot;
}
#phone_a {
	grid-area: phone;
	text-align: left;
}
